@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
/* Pastikan canvas mengambil seluruh layar */
/* canvas {
  width: 100vw !important;
  height: 100vh !important;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
} */

/* Container utama 3D */
.canvas-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ScrollScene,
.ViewportScrollScene {
  outline: 1px dashed rgba(255, 255, 255, 0.33);
  position: relative;
}

.ScrollScene:after,
.ViewportScrollScene:after {
  content: "ScrollScene";
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.33);
  color: black;
  font-size: 10px;
  padding: 5px;
}

.ViewportScrollScene:after {
  content: "ViewportScrollScene";
}

.ui-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  z-index: 10;
  font-size: 14px;
}

button {
  margin: 4px;
  padding: 8px;
}

.nav-container {
  position: relative;
  z-index: 5;
  background-color: white;
}
